body {
  margin: 0;
  padding: 0;
  background: red;
}
.cabeçalho {
  background: black;
  color: #ffffff;
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 24px;
  margin: 0; /* Removendo toda a margem */
}
ul,
li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 20px;
  margin-top: 10px;
}
li {
  cursor: pointer;
}
.containe-1 .containe-2{

}
.containe-1 {
  width: 250px;
  height: 500px;
  background : white;
  margin-top: 40px;
  margin-left: 29px;
  justify-content: center;
  display: grid;
  align-items: center;
}
.containe-2 {
  width: 250px;
  height: 500px;
  background: white;
  margin-top: 40px;
  margin-left: 29px;
  justify-content: center;
  display: grid;
  align-items: center;
  margin-right: 20px;
}
.div-1 {
  width: 200px;
  height: 100px;
  background: black;
  color: white;
  text-align: center;
}
.div-2 {
  width: 200px;
  height: 100px;
  background: rgb(18, 108, 53);
  color: white;
  margin-top: 20px;
  text-align: center;
}
.div-3 {
  width: 200px;
  height: 100px;
  background: rgb(57, 24, 156);
  color: white;
  margin-top: 20px;
  text-align: center;
}
.container-group {
  display: flex;
  justify-content: space-between; /* Um container à esquerda e outro à direita */
  align-items: flex-start;
  margin: 40px auto 0 auto;
  width: 80%; /* Ajusta a largura do grupo */
}

p {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
